[Unit]
Description=RaspiTracerModbus Sytemd Service
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=/root/RaspiTracer/RaspTracer-AN-Modbus
Environment=

[Install]
WantedBy=multi-user.target
