  GNU nano 5.4                                    /etc/systemd/system/RaspiTracer.service *                                            
[Unit]
Description=RaspiTracerModbus Sytemd Service
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=/root/.dotnet/dotnet /root/RaspiTracer/RaspTracer-AN-Modbus.dll
WorkingDirectory=/root/RaspiTracer

[Install]
WantedBy=multi-user.target